Package: siux-openvzd
Version: 1.0.4
Architecture: all
Maintainer: Erik Brozek <debian@esiux.com>
Installed-Size: 81
Depends: adm-daemontools | daemontools, gzip, python
Section: net
Priority: optional
Description: SiUX openvzd
 SiUX pluing for openvz monitor
